@media (max-width: 1679px) {
  .container {
    max-width: 1440px;
  }
  .search {
    width: 65%;
  }
  .main-slider {
    width: 35%;
  }
  .section-third {
    &::after {
      width: 60%;
    }
    &__wrapper-right {
      width: 40%;
    }
    &__wrapper-left {
      width: 60%;
    }
  }
}
@media (max-width: 1199px) {
  .container {
    max-width: 980px;
  }
  .section-first {
    &__upper-link {
      margin-bottom: 50px;
    }
    &__title {
      font-size: 76px;
      line-height: 82px;
      max-width: 50%;
    }
    &__subtitle {
      font-size: 18px;
      line-height: 30px;
      max-width: 50%;
    }
  }
  .upper-link {
    padding: 17.5px 30.5px;
    font-size: 12px;
    line-height: 16px;
  }
  .search {
    width: 55%;
  }
  .main-slider {
    width: 45%;
  }
  .section-third {
    &__wrapper-right {
      padding: 100px 80px;
    }
    &__wrapper-left {
      padding-top: 480px;
      max-width: 50%;
    }
  }
  .section-fourth {
    padding-top: 100px;
    &__subtitle {
      margin-bottom: 100px;
    }
    &__wrapper {
      scale: 0.7;
    }
  }
  .section-five {
    &__container {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      height: 100%;
      padding: 0 135px;
    }
    &__box-text {
      margin-bottom: 0px;
      text-align: center;
    }
  }
  .section-six {
    padding-top: 100px;
    margin-bottom: 100px;
    &__subtitle {
      margin-bottom: 60px;
    }
  }
  .grid {
    gap: 16px;
  }
  .section-footer {
    &__link {
      font-size: 14px;
      line-height: 42px;
    }
    &__title {
      font-size: 14px;
      line-height: 20px;
    }
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 720px;
  }
  .header-section__container {
    padding: 35px 30px;
  }

  .section-first {
    &__upper-link {
      margin-bottom: 30px;
    }
    &__title {
      font-size: 76px;
      line-height: 82px;
      max-width: 80%;
    }
    &__subtitle {
      font-size: 14px;
      line-height: 24px;
      max-width: 60%;
    }
  }
  .button {
    font-size: 10px;
  }
  .search {
    width: 55%;
    height: 100px;
    padding: 0 30px;
  }
  .main-slider {
    width: 45%;
    &__slider-container {
      height: 180px;
    }
    &__text-box-sliders {
      height: 100px;
    }
    &__btn-left {
      left: 20px;
    }
    &__btn-right {
      right: 20px;
    }
  }

  .section-second {
    padding: 80px 0;
    &__title {
      margin-bottom: 40px;
    }
    &__cart-item {
      width: 310px;
      height: 480px;
    }
    &__img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
    &__text {
      padding: 0 55px 55px 55px;
    }
  }
  .title {
    &_up {
      font-size: 60px;
      line-height: 70px;
      width: 90%;
    }
  }

  .section-third {
    &::after {
      width: 55%;
    }
    &__title-2 {
      font-size: 54px;
      line-height: 74px;
      margin-bottom: 50px;
    }
    &__wrapper-right {
      width: 45%;
      padding: 50px 50px;
    }
    &__wrapper-left {
      width: 55%;
      padding-top: 400px;
      max-width: 55%;
    }
  }

  .section-fourth {
    padding-top: 60px;
    &__subtitle {
      margin-bottom: 0px;
    }
    &__wrapper {
      scale: 0.8;
    }
    &__slider-container {
      margin-bottom: 80px;
    }
  }
  .slide {
    width: 624px;
    min-height: 385px;
    &__play {
      height: 78px;
      width: 78px;
    }
    &__text {
      font-size: 26px;
      line-height: 36px;
    }
  }

  .form-sign {
    width: 450px;
  }

  .section-six {
    padding-top: 100px;
    margin-bottom: 100px;
    &__subtitle {
      margin-bottom: 60px;
    }
  }

  .grid {
    grid-template-columns: 1fr 1fr;
    &__item {
      &_big-column {
        min-height: 610px;
      }
      &_img-6 {
        grid-column-end: span 2;
      }
    }
  }

  .section-footer {
    padding-top: 60px;
    &__container {
      display: flex;
      justify-content: center;
      gap: 0 100px;
      flex-wrap: wrap;
    }
    &__list {
      margin-bottom: 60px;
    }
    &__link {
      font-size: 14px;
      line-height: 42px;
    }
    &__title {
      font-size: 14px;
      line-height: 20px;
    }
    &__subscribe {
      margin-bottom: 60px;
    }
    &__subscribe &__title {
      text-align: center;
      &::before {
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
  .footer-bottom {
    &__copy {
      width: 350px;
    }
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 540px;
  }
  .header-section__container {
    padding: 30px 30px;
  }

  .section-first {
    &__container {
      padding-top: 120px;
      padding-bottom: 100px;
    }
    &__title {
      font-size: 58px;
      line-height: 70px;
      max-width: 90%;
    }
    &__subtitle {
      line-height: 20px;
      max-width: 70%;
    }
  }
  .search {
    width: 40%;
    height: 90px;
    padding: 0 20px;
  }
  .main-slider {
    width: 60%;
    &__text-box-sliders {
      height: 90px;
    }
  }

  .section-second {
    padding: 80px 0;
    &__cart-item {
      width: 220px;
      height: 410px;
    }
    &__text {
      padding: 0 30px 30px 30px;
    }
  }
  .title {
    &_up {
      font-size: 50px;
      line-height: 70px;
      width: 100%;
    }
  }

  .section-third {
    min-height: 1200px;
    &::after {
      width: 100%;
      height: 45%;
      bottom: auto;
      top: 0;
    }
    &__wrapper-right {
      top: auto;
      bottom: 0;
      height: 55%;
      width: 100%;
      padding: 50px 50px;
    }
    &__wrapper-left {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      height: 45%;
      width: 100%;
      padding-top: 60px;
      max-width: 100%;
    }
  }

  .section-fourth {
    padding-top: 60px;
    &__subtitle {
      padding: 0;
      margin-bottom: 0px;
    }
    &__wrapper {
      scale: 0.8;
    }
    &__slider-container {
      margin-bottom: 80px;
    }
  }
  .slide {
    width: 500px;
    min-height: 308px;
    &__play {
      height: 68px;
      width: 68px;
    }
    &__text {
      font-size: 28px;
      line-height: 36px;
    }
  }

  .section-five {
    &__container {
      padding: 0 30px;
    }
    &__title {
      margin-bottom: 25px;
    }
  }
  .form-sign {
    width: 400px;
    &__fields {
      padding: 66px 62px 56px;
    }
  }

  .section-six {
    padding-top: 80px;
    margin-bottom: 80px;
    &__subtitle {
      margin-bottom: 60px;
      padding: 0 15%;
    }
  }

  .grid {
    &__item {
      padding: 15px;

      &_big-column {
        min-height: 510px;
      }
    }
    &__quote {
      font-size: 24px;
      line-height: 32px;
      margin-bottom: 100px;
    }
    &__play {
      width: 54px;
      height: 54px;
      top: 15px;
      left: 15px;
    }
    &__title {
      font-size: 26px;
      line-height: 36px;
      margin-bottom: 15px;
    }
  }
  .section-footer {
    padding-top: 60px;
    &__container {
      gap: 0 50px;
    }
  }
  .footer-bottom {
    &__container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__copy {
      width: 100%;
      text-align: center;
    }
    &__list {
      margin-bottom: 20px;
    }
  }
}

/* ВЫСОТА */
@media (max-height: 1079px) {
  .section-first {
    &__container {
      padding-top: 118px;
      padding-bottom: 138px;
    }
  }
}

@media (max-height: 889px) {
  .section-first {
    &__container {
      padding-top: 110px;
      padding-bottom: 124px;
    }
    &__upper-link {
      margin-bottom: 30px;
    }
    &__title {
      font-size: 65px;
      line-height: 66px;
      margin-bottom: 30px;
    }
    &__subtitle {
      font-size: 12px;
      line-height: 14px;
      margin-bottom: 30px;
    }
  }
  .search {
    height: 100px;
    &__field {
      &::placeholder {
        font-size: 14px;
      }
    }
  }
  .main-slider {
    &__text-box-sliders {
      height: 100px;
    }
    &__slider-container {
      height: 240px;
    }
  }
  .button {
    font-size: 10px;
    padding: 26px 58px;
  }
}

@media (max-height: 779px) {
  .section-first {
    &__container {
      padding-top: 110px;
      padding-bottom: 124px;
    }
    &__upper-link {
      margin-bottom: 30px;
    }
    &__title {
      font-size: 54px;
      line-height: 58px;
      margin-bottom: 30px;
    }
    &__subtitle {
      font-size: 12px;
      line-height: 14px;
      margin-bottom: 30px;
    }
  }
  .search {
    height: 90px;
  }
  .main-slider {
    &__text-box-sliders {
      height: 90px;
      &__slider-container {
        height: 200px;
      }
    }
  }
  .button {
    font-size: 10px;
    padding: 22px 52px;
  }
}
