.section-fourth {
  padding-top: 153px;
  &__title {
    margin-bottom: 24px;
  }
  &__subtitle {
    margin-bottom: 155px;
    padding: 0 25%;
  }
  &__slider-container {
    margin-bottom: 145px;
  }
}
