.section-six {
  padding-top: 150px;
  margin-bottom: 140px;
  &__title {
    margin-bottom: 24px;
  }
  &__subtitle {
    margin-bottom: 96px;
    padding: 0 25%;
  }
}
.grid {
  display: grid;
  gap: 32px;
  grid-template-columns: 1fr 1fr 1fr;

  &__item {
    background-color: $color-dark-blue;
    min-height: 500px;
    width: 100%;
    border-radius: 8px;
    padding: 40px;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    &_big-row {
      grid-column-end: span 2;
    }
    &_big-column {
      min-height: 710px;
    }
    &_img-1 {
      background-image: url(../img/grid-1.jpg);
    }
    &_img-2 {
      background-image: url(../img/grid-2.jpg);
    }
    &_img-3 {
      background-image: url(../img/grid-3.jpg);
    }
    &_img-4 {
      background-image: url(../img/grid-4.jpg);
    }
    &_img-5 {
      background-image: url(../img/grid-5.jpg);
      align-items: center;
    }
    &_img-6 {
      background-image: url(../img/grid-6.jpg);
    }
    &_img-7 {
      background-image: url(../img/grid-7.jpg);
    }
  }
  &__upper-link {
    position: absolute;
    top: 40px;
    right: 40px;
    transition: all 0.2s ease-in-out;
    &:hover {
      scale: 1.1;
      transition: all 0.2s ease-in-out;
      background: rgba($color: $color-min-black, $alpha: 0.7);
    }
  }
  &__desc {
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    color: $color-white;
    font-weight: 800;
    margin-bottom: 8px;
  }
  &__title {
    font-family: 'SFProDisplay';
    font-size: 32px;
    line-height: 40px;
    font-weight: 700;
    color: $color-white;
    margin-bottom: 30px;
  }
  &__quote {
    font-family: 'Playfair';
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    color: $color-white;
    margin-bottom: 166px;
  }
  &__play {
    background-image: url(../img/play.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 64px;
    height: 64px;
    position: absolute;
    top: 40px;
    left: 40px;
    transition: scale 0.3s ease-in-out;
    &:hover {
      transition: scale 0.3s ease-in-out;
      scale: 1.2;
    }
  }
  &__box-avatars {
    display: flex;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &__avatar {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 48px;
    width: 48px;
    border-radius: 100px;
    transition: all 0.2s ease-in-out;
    &:hover {
      scale: 1.2;
      transition: all 0.2s ease-in-out;
    }
    &_1 {
      background-image: url(../img/avatar-1.jpg);
      &:hover {
        scale: 1.2;
        z-index: 2;
      }
    }
    &_2 {
      background-image: url(../img/avatar-2.jpg);
      transform: translateX(-20px);
      z-index: 1;
      &:hover {
        z-index: 2;
      }
    }
    &_3 {
      background-image: url(../img/avatar-3.jpg);
      transform: translateX(-40px);
      &:hover {
        z-index: 2;
      }
    }
  }
}
